@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("antd/dist/reset.css");

/* canvas{
  outline: 0 none;
} */
:root,
html,
body {
  padding: 0px;
  margin: 0px;
}
/* ios 100vh error */
html,
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

body {
  /* background-color: #25272d; */
}

:root {
  --primary-color: #fc774b;
  --text-color: "#ffffff";
  --text-color-secondary: "#979797";
}
